body{
    margin: 0;
    font-family: 'Museo Sans Cyrl',sans-serif;
    color: #333;
}
a{
    color: #6933DC;
}
@font-face {
    src: url('../fonts/museosanscyrl-500.ttf');
    font-family: 'Museo Sans Cyrl';
}
@font-face {
    src: url('../fonts/museosanscyrl-700.ttf');
    font-family: 'Museo Sans Cyrl Bold';
}
.header{
    padding: 42px 0 40px 0;
    border-bottom: 1px solid #dcdcf3;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.button{
    border-radius: 6px;
    background: #6933DC;
    padding: 14px 35px;
    color: #FFF;
    font-size: 17px;
    border: 0;
    cursor: pointer;
    transition: .4s;
}
.button:hover{
    background: #320c85;
}
.footer{
    text-align: center;
    padding:40px 0 ;
    color: #DCDCF3;
    font-size: 13px;
}
.common-title{
        font-family: "Museo Sans Cyrl Bold",sans-serif;
        font-size: 48px;
}
.common-title span{
    color: #6933DC;
}