<section class="answers">
    <div class="container">
        <div class="answers-tests">
            <div class="answers-pre-title common-pre-title">Результат прохождения теста</div>
            <img src="/img/small-arrow-grey.png" alt="arrow">
            <div class="answers-test-name" id="test-name">First test</div>
        </div>
        <div class="answers-title big-title"><span>Правильные ответы</span> к тесту</div>
        <div class="answers-test-user" id="test-user"></div>
        <div class="answers-questions" id="question">

        </div>
        <div class="link result-answers">
            <a href="javascript:void(0)" id="link">Обратно к моему результату теста<img src="/img/small-arrow.png" alt="arrow"></a>
        </div>
    </div>
</section>
